	<div class="col-4">
    <div class="product-card">
      <div class="product-details">
        <span class="product-catagory"></span>
        <h4><a href=""><%= restaurant.name %></a></h4>
        <p><%= restaurant.description %></p>
        <div class="product-bottom-details">
          <div class="product-price"><small><%= rand(10..28) %></small><%= rand(23..2345) %></div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
